@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.corner-shape {
  position: relative;
  width: 100%;
  height: calc(50vh);
 
  border-radius: 35px;
   -webkit-font-smoothing: antialiased;
}

.corner-body {
  position: absolute;
   -webkit-font-smoothing: antialiased;
}

.quadrato {
  width: 120px;
  height: 45px;
  background-color: #fff;
  border-radius: 0px 30px 0px 22px;
  position: absolute;
  right: 0;
  top: 0px;
}

.curved-in {
  position: absolute;
  right: 0px;
  top: 45px;
  transform: rotate(-90deg);
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.curved-out {
  position: absolute;
  right: 120px;
  top: -0px;
  transform: rotate(-90deg);
  width: 20px;
  height: 20px;
  object-fit: contain;
  -webkit-font-smoothing: antialiased;
}

.quadrato-1 {
  width: 170px;
  height: 45px;
  background-color: #fff;
  border-radius: 0px 22px 0px 22px;
  position: absolute;
  bottom: -5px;
  left: 0px;
}

.curved-in-1 {
  position: absolute;
  left: 170px;
  bottom: 0px;
  transform: scaleX(-1);
  width: 20px;
  height: 20px;

  object-fit: contain;
}


.curved-out-1 {
  position: absolute;
  left: 0px;
  bottom: 40px;
  transform: scaleX(-1);
  width: 20px;
  height: 20px;

  object-fit: contain;
}

